@model WarMachine.Models.WarModels.UnitModel
@using WarMachine.Models.WarModels



<h1>@ViewBag.Title</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>SPD</th>
            <th>STR</th>
            <th>MAT</th>
            <th>RAT</th>
            <th>DEF</th>
            <th>ARM</th>
            <th>CMD</th>
            <th>Point Cost</th>
           <th>MinUnit</th>
            <th>MaxUnit</th>
            <th>Edit</th>

        </tr>
    </thead>

    <tbody>

        <tr>
            <td>@Model.Name</td>
            <td>@Model.SPD</td>
            <td>@Model.STR</td>
            <td>@Model.MAT</td>
            <td>@Model.RAT</td>
            <td>@Model.DEF</td>
            <td>@Model.ARM</td>
            <td>@Model.CMD</td>
            <td>@Model.PointCost</td>
            <td>@Model.MinUnit</td>
            <td>@Model.MaxUnit</td>            
            <td><a asp-controller="Edit" asp-action="Unit" asp-route-SoloId="@Model.ID">Edit</a></td>





        </tr>

        </table>