@model WarMachine.Models.WarModels.SoloModel
@using WarMachine.Models.WarModels



<h1>@ViewBag.Title</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>SPD</th>
            <th>STR</th>
            <th>MAT</th>
            <th>RAT</th>
            <th>DEF</th>
            <th>ARM</th>
            <th>CMD</th>
            <th>Point Cost</th>
            <th>FA</th>
            <th>FACTION</th>
            
        </tr>
    </thead>

    <tbody>
      
            <tr>
                <td>@Model.Name</td>
                <td>@Model.SPD</td>
                <td>@Model.STR</td>
                <td>@Model.MAT</td>
                <td>@Model.RAT</td>
                <td>@Model.DEF</td>
                <td>@Model.ARM</td>
                <td>@Model.CMD</td>
                <td>@Model.PointCost</td>
                <td>@Model.FA</td>
                <td>@Model.factionName</td>
              </tr>
               
    </tbody>
</table>




<h3>Abilities</h3>
<table class="table table-sm">
  <thead><tr>
      <th>Name </th>
      <th> Description</th>
      </tr>
  </thead>

    <tbody>
        
            @foreach (Ability abil in @Model.Abilities)
            {
                <tr>
                    <td>@abil.Name </td>
                    <td>@abil.Description </td>
                </tr>
            }
             

    </tbody>



</table>




<h3>Spells</h3>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Name </th>
            <th>Pow</th>
            <th>Rng</th>
            <th>Cost</th>
            <th>Duration</th>
            <th>AOE</th>
            <th>OFF</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>

        @foreach (Spell spell in @Model.Spells)
            {
            <tr>
                <td>@spell.Name </td>
                <td>@spell.POW</td>
                <td>@spell.RNG</td>
                <td>@spell.Cost</td>
                <td>@spell.Duration</td>
                <td>@spell.AOE</td>
                <td>@spell.OFF</td>
                <td>@spell.Description </td>
            </tr>
        }


    </tbody>



</table>









<br />
<a asp-controller="Edit" asp-action="Solo" asp-route-SoloId="@Model.ID">Edit</a>



