@model WarMachine.Models.WarModels.SoloModel
@using WarMachine.Models.WarModels



<h1>@ViewBag.Title</h1>


<table class="table table-striped">
    <thead>
        <tr>

            @foreach (var property in ViewBag.Props)
            {
                <th>
                    @if (property == "factionName")
                    {<text> Faction </text>}
                    else
                    {
                        @property
                    }

                </th>
            }

            <th>Edit</th>
        </tr>

    </thead>



    <tbody>
        <tr>
            @foreach (var propertyName in ViewBag.PropData)
            {
                <td>
                    @propertyName

                </td>
            }

            <td><a asp-controller="Edit" asp-action="@ViewBag.Type" asp-route-SoloId="@Model.ID"><i class="fa fa-edit fa-lg"></i>Edit</a></td>

        </tr>
    </tbody>

</table>




<h3>Abilities</h3>
<table class="table table-sm">
  <thead><tr>
      <th>Name </th>
      <th> Description</th>
      </tr>
  </thead>

    <tbody>
        
            @foreach (Ability abil in @Model.Abilities)
            {
                <tr>
                    <td>@abil.Name </td>
                    <td>@abil.Description </td>
                </tr>
            }
             

    </tbody>



</table>




<h3>Spells</h3>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Name </th>
            <th>Pow</th>
            <th>Rng</th>
            <th>Cost</th>
            <th>Duration</th>
            <th>AOE</th>
            <th>OFF</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>

        @foreach (Spell spell in @Model.Spells)
            {
            <tr>
                <td>@spell.Name </td>
                <td>@spell.POW</td>
                <td>@spell.RNG</td>
                <td>@spell.Cost</td>
                <td>@spell.Duration</td>
                <td>@spell.AOE</td>
                <td>@spell.OFF</td>
                <td>@spell.Description </td>
            </tr>
        }


    </tbody>



</table>

<h3>Weapons</h3>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Name </th>
            <th>Pow</th>
            <th>Rng</th>
            <th>Rof</th>
            <th>Type</th>

        </tr>
    </thead>

    <tbody>

        @foreach (Weapon weap in @Model.Weapons)
            {
            <tr>
                <td>@weap.Name </td>
                <td>@weap.POW</td>
                <td>@weap.RNG</td>
                <td>@weap.ROF</td>
                <td>@weap.Type</td>

            </tr>
        }


    </tbody>



</table>






<br />
<a asp-controller="Edit" asp-action="Solo" asp-route-SoloId="@Model.ID"><i class="fa fa-edit fa-lg"></i>Edit</a>



