@model WarMachine.Models.WarModels.Spell


<table class="table table-striped">
    <thead>
        <tr>

            @foreach (var property in ViewBag.Props)
            {
                <th>
                    @if (property == "factionName")
                    {<text> Faction </text>}
                    else
                    {
                        @property
                    }

                </th>
            }

        
        </tr>

    </thead>



    <tbody>
        <tr>
            @foreach (var propertyName in ViewBag.PropData)
            {
                <td>
                    @propertyName

                </td>
            }

            

        </tr>
    </tbody>

</table>
<a asp-controller="Delete" asp-action="Index" asp-route-Type="@ViewBag.Type" asp-route-name="@Model.Name" asp-route-ID="@Model.ID"><i class="fa fa-trash fa-lg"></i> Delete</a>
<a asp-controller="Edit" asp-action="@ViewBag.Type" asp-route-SoloId="@Model.ID"><i class="fa fa-edit fa-lg"></i>Edit</a>