@model List<WarMachine.Models.WarModels.Spell>

<h1>@ViewBag.Title</h1>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th>AOE</th>
            <th>Duration</th>
            <th>Pow</th>
            <th>RNG</th>
            <th>OFF</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var spell in Model)
        {
            <tr>
                <td>@spell.Name</td>
                <td>@spell.Description</td>
                <td>@spell.Cost</td>
                <td>@spell.AOE</td>
                <td>@spell.Duration</td>
                <td>@spell.POW</td>
                <td>@spell.RNG</td>
                <td>@spell.OFF</td>


            </tr>


        }
    </tbody>
</table>
