@model List<WarMachine.Models.WarModels.Spell>

<h1>@ViewBag.Title</h1>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th>AOE</th>
            <th>Duration</th>
            <th>Pow</th>
            <th>RNG</th>
            <th>OFF</th>
            <th>Edit</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var spell in Model)
        {
            <tr>
                
                <td><a asp-controller="View" asp-action="Spell" asp-route-id="@spell.ID"> @spell.Name</a></td>
                <td>@spell.Description</td>
                <td>@spell.Cost</td>
                <td>@spell.AOE</td>
                <td>@spell.Duration</td>
                <td>@spell.POW</td>
                <td>@spell.RNG</td>
                <td>@spell.OFF</td>
                <td><a asp-controller="Edit" asp-action="Spell" asp-route-UnitID="@spell.ID">Edit</a></td>


            </tr>


        }
    </tbody>
</table>
