@model List<WarMachine.Models.WarModels.Warcaster>
@using WarMachine.Models.WarModels



<h1>@ViewBag.Title</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>SPD</th>
            <th>STR</th>
            <th>MAT</th>
            <th>RAT</th>
            <th>DEF</th>
            <th>ARM</th>
            <th>CMD</th>
            <th>Bg Points</th>
            <th>Faction</th>
            <th>Feat</th>

            <th>Edit</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var caster in Model)
        {
            <tr>
                <td><a asp-controller="View" asp-action="Warcaster" asp-route-id="@caster.ID"> @caster.Name</a></td>
                <td>@caster.SPD</td>
                <td>@caster.STR</td>
                <td>@caster.MAT</td>
                <td>@caster.RAT</td>
                <td>@caster.DEF</td>
                <td>@caster.ARM</td>
                <td>@caster.CMD</td>

                <td>@caster.WarjackPoints</td>
                <td>@caster.Faction</td>
                <td>@caster.Feat</td>


                <td><a asp-controller="Edit" asp-action="Warcaster" asp-route-SoloId="@caster.ID"><i class="fa fa-edit fa-lg"></i>Edit</a></td>





            </tr>













        }
    </tbody>
</table>
