@model WarMachine.Models.WarModels.Warjack
@using WarMachine.Models.WarModels

<h1>@ViewBag.Title</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>SPD</th>
            <th>STR</th>
            <th>MAT</th>
            <th>RAT</th>
            <th>DEF</th>
            <th>ARM</th>
            <th>CMD</th>
            <th>Point Cost</th>
            <th>FA</th>
            
        </tr>
    </thead>

    <tbody>
      
            <tr>
                <td>@Model.Name</td>
                <td>@Model.SPD</td>
                <td>@Model.STR</td>
                <td>@Model.MAT</td>
                <td>@Model.RAT</td>
                <td>@Model.DEF</td>
                <td>@Model.ARM</td>
                <td>@Model.CMD</td>
                <td>@Model.PointCost</td>
                <td>@Model.FA</td>
              </tr>
               
    </tbody>
</table>




<h3>Abilities</h3>
<table class="table table-sm">
  <thead><tr>
      <th>Name </th>
      <th> Description</th>
      </tr>
  </thead>

    <tbody>
        
            @foreach (Ability abil in @Model.Abilities)
            {
                <tr>
                    <td>@abil.Name </td>
                    <td>@abil.Description </td>
                </tr>
            }
             

    </tbody>



</table>



<h3>Weapons</h3>


<h3>Spells</h3>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Name </th>
            <th>Pow</th>
            <th>Rng</th>
            <th>Rof</th>
            <th>Type</th>
            
        </tr>
    </thead>

    <tbody>

        @foreach (Weapon weap in @Model.Weapons)
            {
            <tr>
                <td>@weap.Name </td>
                <td>@weap.POW</td>
                <td>@weap.RNG</td>
                <td>@weap.ROF</td>
                <td>@weap.Type</td>
             
            </tr>
        }


    </tbody>



</table>















<br />
<a asp-controller="EditAbilities" asp-action="Solo" asp-route-SoloId="@Model.ID">Add Ability</a>
<a asp-controller="Edit" asp-action="Solo" asp-route-SoloId="@Model.ID">Edit </a>


