@model List<WarMachine.Models.WarModels.Weapon>

<h1>@ViewBag.Title</h1>



<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>ROF</th>
            <th>POW</th>
            <th>RNG</th>
            <th>Edit</th>
          
        </tr>
    </thead>

    <tbody>
        @foreach (var weapon in Model)
        {
            <tr>
               
                <td><a asp-controller="View" asp-action="Weapon" asp-route-id="@weapon.ID"> @weapon.Name</a></td>
                <td>@weapon.Type</td>
                <td>
                @if (weapon.Type == WarMachine.Models.WarModels.Weapon.WeaponType.Melee)

                { <text>-</text> }

                else { @weapon.ROF}
                
                </td>
                <td>@weapon.POW</td>
                <td>@weapon.RNG</td>
                <td><a asp-controller="Edit" asp-action="Weapon" asp-route-id="@weapon.ID"><i class="fa fa-edit fa-lg"></i>Edit</a></td>
               


            </tr>


        }
    </tbody>
</table>
